body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #E2E5F4;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 60px;
}

h1, h2, h3{
	font-family: 'Lilita One', cursive;
}

/* header styles */
header h1{
	color: #4E4643;
	font-size: 50px;
}

header img{
	border-radius: 160px;
	width: 300px;
	border: 10px solid #4E4643;
}

/* main element styles */
main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #4E4643;
	margin: 40px 0 10px;
}

h3{
	font-size: 20px;
	color: #518858;
}

a{
	color: #4E4643;
}
a:hover{
	color: #0DB2DA;
}

/* footer styles*/
footer{
	background-color: #E2E5F4;
	text-align: center;
	padding: 30px;
}

footer p{
	margin: 0;
}

footer a{
	color: #518858;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}

.right-col{
	background-color: #ABCF53;
}

/* navigation element */
.navigation{
	text-align: center;
}

.navigation li{
	display: inline-block;
	margin: 0 20px;
}
